<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/gallery">Gallery</a>
    <h2>Spiderman works</h2>
    <ol>
      <li>Spider-Man (21 de junio de 2002)</li>
      <li>Spider-Man 2 (14 de julio de 2004)</li>
      <li>Spider-Man 3 (4 de mayo de 2007)</li>
      <li>The Amazing Spider-Man (3 de julio de 2012)</li>
      <li>
        The Amazing Spider-Man 2: El poder de Electro (17 de abril de 2014)
      </li>
      <li>[Marvel Studios] Spider-Man: Homecoming (28 de julio de 2017)</li>
      <li>Venom (5 de octubre de 2018)</li>
      <li>Spider-Man: un nuevo universo (21 de diciembre de 2018)</li>
      <li>[Marvel Studios] Spider-Man: Lejos de Casa (26 de junio de 2019)</li>
      <li>Venom: Habrá Matanza (1 de octubre de 2021)</li>
      <li>
        [Marvel Studios] Spider-Man: No Way Home (13 de diciembre de 2021)
      </li>
      <li>Morbius (1 de abril de 2022)</li>
      <li>Spider-Man: Across the Spider-Verse (2 de junio de 2023)</li>
    </ol>
  </body>
</html>
